/** Font **/

	/* Lato */
	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

	/* Montserrat */
	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);

	/* Roboto */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);




  html {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      height: 40px;
      background-color: #eee;
      border-radius: 16px;
      &:hover {
        background-color: #ddd;
      }
    }
  }

  ::selection {
    background: rgba(0, 149, 255, 0.1);
  }

  html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
  }

  body {
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.6em;
    background-color: $light-background-color;
    color: $light-font-color;
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.05;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }

     &.dark-theme {
        background-color: $dark-background-color;
        color: $dark-font-color;
     }
  }

  a {
    color: $light-global-link-color;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    &:hover {
      color: $light-global-link-hover-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
    }

     .dark-theme & {
      color: $dark-global-link-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;

      &:hover{
        color: $dark-global-link-hover-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
      }
    }
  }

  blockquote {
    font-size: 1rem;
    font-style: italic;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: $light-border-color;
    border-left: 8px solid $light-blockquote-side-color;
    padding: 1.2em 30px 1.2em 65px;
    margin: 30px auto;
    position: relative;
    background: $light-blockquote-background-color;

    &:before {
      content: "\201C";
      color: #78C0A8;
      font-size: 4em;
      position: absolute;
      left: 10px;
      top: 15px;
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em 'PT Sans', sans-serif;
      color: $light-post-link-color;
      text-align: center;

       .dark-theme &{
         color: $dark-post-link-color;
       }
    }

    & > p {
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-top: 0px;
    }

    & > .cite {
      padding-bottom: 5px;
      display: block;
      text-align: right;
      font-size: 0.875em;
      font-style: normal;
      color: $light-post-link-color;

       .dark-theme &{
         color: $dark-post-link-color;
       }
    }

    .dark-theme & {
      border-color: $dark-border-color;
      background: $dark-blockquote-background-color;
      border-left: 8px solid $dark-blockquote-side-color;
    }
  }

@each $type, $color in (
  "info": #d1ecf1,
  "warning": #fff3cd,
  "danger": #f8d7da,
) {
  .tip.#{$type} {
    background-color: $color;
    border: 1px solid darken($color, 10%);
    border-radius: 4px;
    padding: 15px 20px;
    color: darken($color, 60%);

    a {
      border-bottom: 1px solid darken($color, 30%);

      &:hover, &:focus, &:active {
        color: darken($color, 70%);
        border-bottom: 1px solid darken($color, 40%);
      }
    }

    .dark-theme & {
      background-color: darken($color, 65%);
      color: $color;
      border: 1px solid darken($color, 65%);
    }
  }
}